<a href="https://colab.research.google.com/github/mruk09/ml-practicals/blob/main/Practical_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

Handling Missing Values

In [3]:
data = {'A': [1, 2, np.nan, 4, 5],
'B': [np.nan, 2, 3, np.nan, 5],
'C': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

In [4]:
print(df)

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  NaN  4
4  5.0  5.0  5

Identify Missing Values

In [5]:
print(df.isnull())

       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
3  False   True  False
4  False  False  False

Remove Rows or Columns

In [6]:
df_dropped_rows = df.dropna(axis=0)

In [7]:
print(df_dropped_rows)

     A    B  C
1  2.0  2.0  2
4  5.0  5.0  5

In [8]:
df_dropped_cols = df.dropna(axis=1)

In [10]:
print(df_dropped_cols)

   C
0  1
1  2
2  3
3  4
4  5

In [11]:
print(df)

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  NaN  4
4  5.0  5.0  5

Imputation (fill the null values)

In [12]:
df_imputed_mean = df.fillna(df.mean())

In [13]:
df_imputed_median = df.fillna(df.median())

In [14]:
df_imputed_mode = df.fillna(df.mode().iloc[0])

In [15]:
print(df_imputed_mean)
print(df_imputed_median)
print(df_imputed_mode)

     A         B  C
0  1.0  3.333333  1
1  2.0  2.000000  2
2  3.0  3.000000  3
3  4.0  3.333333  4
4  5.0  5.000000  5
     A    B  C
0  1.0  3.0  1
1  2.0  2.0  2
2  3.0  3.0  3
3  4.0  3.0  4
4  5.0  5.0  5
     A    B  C
0  1.0  2.0  1
1  2.0  2.0  2
2  1.0  3.0  3
3  4.0  2.0  4
4  5.0  5.0  5

Indicator Variable

In [16]:
df_indicator = df.copy()
df_indicator['A_is_missing'] = df_indicator['A'].isnull()
df_indicator['B_is_missing'] = df_indicator['B'].isnull()

In [17]:
print(df_indicator)

     A    B  C  A_is_missing  B_is_missing
0  1.0  NaN  1         False          True
1  2.0  2.0  2         False         False
2  NaN  3.0  3          True         False
3  4.0  NaN  4         False          True
4  5.0  5.0  5         False         False

Identify Outliers

In [18]:
data = {'A': [1, 2, 3, 10, 5],
'B': [2, 4, 6, 8, 100],
'C': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

Calculate Z-Score

In [19]:
z_scores = (df - df.mean()) / df.std()
outliers_zscore = df[(z_scores > 1).any(axis=1)]

In [20]:
print(outliers_zscore)

    A    B  C
3  10    8  4
4   5  100  5

In [21]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
outliers_iqr = df[((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis=1)]

In [22]:
print(outliers_iqr)

    A    B  C
3  10    8  4
4   5  100  5

Remove Outliers

In [23]:
# Remove rows with outliers
df_removed_outliers = df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 *
IQR))).any(axis=1)]

In [24]:
print(df_removed_outliers)

   A  B  C
0  1  2  1
1  2  4  2
2  3  6  3